## CLUSTERING : DATA WRANGLING WITH ZILLOW & THE MALL

25 January 2023

In [41]:
# imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from env import sql_connexion

In [2]:
# # getting sql_connexion from acquire.py

# url = sql_connexion('zillow')

In [3]:
# # defining the query

# query = '''
#         select *
#         from properties_2017
#         join predictions_2017 using (parcelid)
#         join propertylandusetype USING(propertylandusetypeid)
#         '''

In [101]:
# putting it together 

df = pd.read_csv('zillow.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77579 entries, 0 to 77578
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77579 non-null  int64
 1   typeconstructiontypeid        223 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77579 non-null  float64
 4   heatingorsystemtypeid         49571 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      207 non-null    float64
 7   airconditioningtypeid         25007 non-null  float64
 8   id                            77579 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77579 non-null  float64
 11  bedroomcnt                    77579 non-null  float64
 12  buildingqualitytypeid         49809 non-null  float64
 13  calculatedbathnbr             76963 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6037 non-null   float64
 16  calculatedfinishedsquarefeet  77378 non-null  float64
 17  finishedsquarefeet12          73923 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6037 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77579 non-null  float64
 23  fireplacecnt                  8289 non-null   float64
 24  fullbathcnt                   76963 non-null  float64
 25  garagecarcnt                  25520 non-null  float64
 26  garagetotalsqft               25520 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77579 non-null  float64
 29  longitude                     77579 non-null  float64
 30  lotsizesquarefeet             69321 non-null  float64
 31  poolcnt                       16174 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15079 non-null  float64
 36  propertycountylandusecode     77579 non-null  object
 37  propertyzoningdesc            50476 non-null  object
 38  rawcensustractandblock        77579 non-null  float64
 39  regionidcity                  76107 non-null  float64
 40  regionidcounty                77579 non-null  float64
 41  regionidneighborhood          30974 non-null  float64
 42  regionidzip                   77529 non-null  float64
 43  roomcnt                       77579 non-null  float64
 44  threequarterbathnbr           10106 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77309 non-null  float64
 49  numberofstories               17599 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77464 non-null  float64
 52  taxvaluedollarcnt             77578 non-null  float64
 53  assessmentyear                77579 non-null  float64
 54  landtaxvaluedollarcnt         77577 non-null  float64
 55  taxamount                     77574 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77332 non-null  float64
 59  id.1                          77579 non-null  int64
 60  logerror                      77579 non-null  float64
 61  transactiondate               77579 non-null  object
 62  airconditioningdesc           25007 non-null  object
 63  architecturalstyledesc        207 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49571 non-null  object
 66  propertylandusedesc           77579 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 40.8+ MB

/var/folders/v1/7y2hc6q17wl2rjlpg8h9g78h0000gn/T/ipykernel_5175/3709608481.py:3: DtypeWarning: Columns (64) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('zillow.csv')

In [91]:
df.head().T

,0,1,2,3,4
typeconstructiontypeid,NaN,NaN,NaN,NaN,NaN
storytypeid,NaN,NaN,NaN,NaN,NaN
propertylandusetypeid,261.0,261.0,261.0,261.0,266.0
heatingorsystemtypeid,NaN,NaN,NaN,2.0,2.0
buildingclasstypeid,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
buildingclassdesc,NaN,NaN,NaN,NaN,NaN
heatingorsystemdesc,NaN,NaN,NaN,Central,Central
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Condominium
storydesc,NaN,NaN,NaN,NaN,NaN
typeconstructiondesc,NaN,NaN,NaN,NaN,NaN

In [15]:
# sorting by transaction date

df.sort_values('transactiondate', inplace = True)

In [16]:
# keeping only the unique parcel ids

df = df.drop_duplicates(subset = 'parcelid', keep = 'last')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77381 entries, 0 to 77578
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77381 non-null  int64
 1   typeconstructiontypeid        222 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77381 non-null  float64
 4   heatingorsystemtypeid         49440 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      206 non-null    float64
 7   airconditioningtypeid         24953 non-null  float64
 8   id                            77381 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77381 non-null  float64
 11  bedroomcnt                    77381 non-null  float64
 12  buildingqualitytypeid         49672 non-null  float64
 13  calculatedbathnbr             76772 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77185 non-null  float64
 17  finishedsquarefeet12          73749 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77381 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76772 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77381 non-null  float64
 29  longitude                     77381 non-null  float64
 30  lotsizesquarefeet             69142 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77381 non-null  object
 37  propertyzoningdesc            50331 non-null  object
 38  rawcensustractandblock        77381 non-null  float64
 39  regionidcity                  75910 non-null  float64
 40  regionidcounty                77381 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77331 non-null  float64
 43  roomcnt                       77381 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50563 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77118 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77269 non-null  float64
 52  taxvaluedollarcnt             77380 non-null  float64
 53  assessmentyear                77381 non-null  float64
 54  landtaxvaluedollarcnt         77379 non-null  float64
 55  taxamount                     77376 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77137 non-null  float64
 59  id.1                          77381 non-null  int64
 60  logerror                      77381 non-null  float64
 61  transactiondate               77381 non-null  object
 62  airconditioningdesc           24953 non-null  object
 63  architecturalstyledesc        206 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49440 non-null  object
 66  propertylandusedesc           77381 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 41.3+ MB

In [44]:
#describing the data

df.describe()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,id.1,logerror
count,7.738100e+04,222.000000,50.0,77381.000000,49440.000000,15.000000,206.000000,24953.000000,7.738100e+04,50.000000,...,172.0,7.726900e+04,7.738000e+04,77381.0,7.737900e+04,77376.000000,2886.000000,7.713700e+04,77381.000000,77381.000000
mean,1.300715e+07,6.040541,7.0,261.826340,3.920510,3.933333,7.388350,1.813289,1.495139e+06,679.720000,...,1.0,1.893145e+05,4.901345e+05,2016.0,3.010954e+05,5995.532346,14.087318,6.049673e+13,38847.885437,0.016625
std,3.481346e+06,0.557285,0.0,5.141199,3.592779,0.258199,2.734542,2.967894,8.609071e+05,689.703546,...,0.0,2.300874e+05,6.534440e+05,0.0,4.925960e+05,7622.844153,2.185663,1.535242e+12,22402.157729,0.170191
min,1.071186e+07,4.000000,7.0,31.000000,1.000000,3.000000,2.000000,1.000000,3.490000e+02,38.000000,...,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,0.000000,-4.655420
25%,1.153830e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,7.520700e+05,273.000000,...,1.0,8.426500e+04,2.070000e+05,2016.0,8.550400e+04,2715.632500,14.000000,6.037311e+13,19460.000000,-0.024377
50%,1.253157e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,1.497932e+06,515.000000,...,1.0,1.364990e+05,3.589755e+05,2016.0,2.033720e+05,4450.695000,15.000000,6.037603e+13,38869.000000,0.006627
75%,1.421183e+07,6.000000,7.0,266.000000,7.000000,4.000000,7.000000,1.000000,2.240535e+06,796.500000,...,1.0,2.187870e+05,5.690015e+05,2016.0,3.667965e+05,6927.790000,15.000000,6.059042e+13,58252.000000,0.039203
max,1.676893e+08,13.000000,7.0,275.000000,24.000000,4.000000,21.000000,13.000000,2.982274e+06,3560.000000,...,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,77612.000000,5.262999

In [27]:
# shape of df

df.shape

(77381, 69)

In [28]:
# some distributions : year built

df['yearbuilt'].min(), df['yearbuilt'].max()

(1824.0, 2016.0)

In [37]:
# some distributions : number of fireplaces

df['fireplacecnt'].max(), df['fireplacecnt'].min()

(5.0, 1.0)

In [ ]:
## some distributions : number of fireplaces

df['basementsqft'].max(), df['basementsqft'].min()

In [46]:
df.drop(columns = ['id.1', 'parcelid'], inplace = True)

### 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute.   
Run the function and document takeaways from this on how you want to handle missing values.

In [ ]:
/ len(df)

In [47]:
# putting all the columns into a list

all_col = ['typeconstructiontypeid', 'storytypeid', 'propertylandusetypeid',
           'heatingorsystemtypeid','buildingclasstypeid', 'airconditioningtypeid',
           'id', 'basementsqft', 'bathroomcnt', 'bedroomcnt','buildingqualitytypeid',
           'calculatedbathnbr', 'decktypeid', 'finishedfloor1squarefeet',
           'calculatedfinishedsquarefeet', 'finishedsquarefeet12', 
           'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50',
           'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt',
           'garagecarcnt','garagetotalsqft', 'hashottuborspa', 'latitude',
           'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum',
           'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'propertycountylandusecode',
           'fireplaceflag', 'structuretaxvaluedollarcnt','propertyzoningdesc',
           'rawcensustractandblock', 'regionidcity', 'regionidcounty', 
           'regionidneighborhood','regionidzip', 'roomcnt','threequarterbathnbr', 
           'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
           'numberofstories', 'taxvaluedollarcnt', 'assessmentyear', 
           'landtaxvaluedollarcnt', 'taxamount', 'taxdelinquencyyear', 
           'censustractandblock', 'logerror']

In [61]:
# creating df of rows with null values

missing_rows = df.isna()
missing_rows.head(1)

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,bathroomcnt,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,True,True,False,True,True,True,True,False,True,False,...,False,False,False,True,True,True,True,False,True,True

In [60]:
# assuring that missing_rows is boolean
missing_rows.dtypes

typeconstructiontypeid    bool
storytypeid               bool
propertylandusetypeid     bool
heatingorsystemtypeid     bool
buildingclasstypeid       bool
                          ...
buildingclassdesc         bool
heatingorsystemdesc       bool
propertylandusedesc       bool
storydesc                 bool
typeconstructiondesc      bool
Length: 67, dtype: object

In [63]:
# finding sum of each row

missing_num_rows = missing_rows.sum()
missing_num_rows

typeconstructiontypeid    77159
storytypeid               77331
propertylandusetypeid         0
heatingorsystemtypeid     27941
buildingclasstypeid       77366
                          ...
buildingclassdesc         77366
heatingorsystemdesc       27941
propertylandusedesc           0
storydesc                 77331
typeconstructiondesc      77159
Length: 67, dtype: int64

In [71]:
# finding the percentage of missing rows

pc_missing_rows = round((missing_num_rows / len(df)) * 100, 2)
pc_missing_rows

typeconstructiontypeid    99.71
storytypeid               99.94
propertylandusetypeid      0.00
heatingorsystemtypeid     36.11
buildingclasstypeid       99.98
                          ...
buildingclassdesc         99.98
heatingorsystemdesc       36.11
propertylandusedesc        0.00
storydesc                 99.94
typeconstructiondesc      99.71
Length: 67, dtype: float64

In [72]:
# alternate to the above

dnd = (df.isna().mean().round(4)) * 100
dnd

typeconstructiontypeid    99.71
storytypeid               99.94
propertylandusetypeid      0.00
heatingorsystemtypeid     36.11
buildingclasstypeid       99.98
                          ...
buildingclassdesc         99.98
heatingorsystemdesc       36.11
propertylandusedesc        0.00
storydesc                 99.94
typeconstructiondesc      99.71
Length: 67, dtype: float64

In [82]:
# creating dataframe with the missing row-numbers
missing = pd.DataFrame(missing_num_rows)
missing

                            0
typeconstructiontypeid  77159
storytypeid             77331
propertylandusetypeid       0
heatingorsystemtypeid   27941
buildingclasstypeid     77366
...                       ...
buildingclassdesc       77366
heatingorsystemdesc     27941
propertylandusedesc         0
storydesc               77331
typeconstructiondesc    77159

[67 rows x 1 columns]

In [83]:
# adding the pc to the missing df

missing['pc_missing'] = pc_missing_rows
missing

                            0  pc_missing
typeconstructiontypeid  77159       99.71
storytypeid             77331       99.94
propertylandusetypeid       0        0.00
heatingorsystemtypeid   27941       36.11
buildingclasstypeid     77366       99.98
...                       ...         ...
buildingclassdesc       77366       99.98
heatingorsystemdesc     27941       36.11
propertylandusedesc         0        0.00
storydesc               77331       99.94
typeconstructiondesc    77159       99.71

[67 rows x 2 columns]

In [84]:
# renaming the 0 column

missing = missing.rename(columns = {0 : 'num_missing_rows'})
missing

                        num_missing_rows  pc_missing
typeconstructiontypeid             77159       99.71
storytypeid                        77331       99.94
propertylandusetypeid                  0        0.00
heatingorsystemtypeid              27941       36.11
buildingclasstypeid                77366       99.98
...                                  ...         ...
buildingclassdesc                  77366       99.98
heatingorsystemdesc                27941       36.11
propertylandusedesc                    0        0.00
storydesc                          77331       99.94
typeconstructiondesc               77159       99.71

[67 rows x 2 columns]

In [ ]:
# sorting by pc_missing date

df.sort_values('pc_missing', inplace = True)

In [81]:
# function to do the above

def missing_rows(df):
    
    # creating df of rows with null values
    missing_rows = df.isna()
    
    # finding sum of each row
    missing_num_rows = missing_rows.sum()
    
    # finding the percentage of missing rows
    pc_missing_rows = (df.isna().mean().round(4)) * 100
    
    # creating dataframe with the missing row-numbers
    missing = pd.DataFrame(missing_num_rows)
    
    # adding the pc to the missing df
    missing['pc_missing'] = pc_missing_rows

    # renaming the 0 column
    missing = missing.rename(columns = {0 : 'num_missing_rows'})

## Prepare

### 1 . Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [85]:
# looking at the columns

df.columns

Index(['typeconstructiontypeid', 'storytypeid', 'propertylandusetypeid',
       'heatingorsystemtypeid', 'buildingclasstypeid',
       'architecturalstyletypeid', 'airconditioningtypeid', 'id',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid',
       'calculatedbathnbr', 'decktypeid', 'finishedfloor1squarefeet',
       'calculatedfinishedsquarefeet', 'finishedsquarefeet12',
       'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50',
       'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt',
       'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'latitude',
       'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum',
       'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertyzoningdesc',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'logerror', 'transactiondate',
       'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc',
       'heatingorsystemdesc', 'propertylandusedesc', 'storydesc',
       'typeconstructiondesc'],
      dtype='object')

In [100]:
# looking at prperty types

df['propertylandusedesc'].value_counts()

Single Family Residential                   33734
Condominium                                 11494
Planned Unit Development                     1937
Mobile Home                                    53
Cooperative                                    29
Duplex (2 Units, Any Combination)              20
Residential General                            10
Commercial/Office/Residential Mixed Used        8
Townhouse                                       6
Triplex (3 Units, Any Combination)              2
Name: propertylandusedesc, dtype: int64

In [109]:
#keeping only units of Single Family Residential 

df = df[df['propertylandusedesc'] == 'Single Family Residential']

In [95]:
# finding how many properties have how many units

df['unitcnt'].value_counts()

1.0      47293
2.0       2018
4.0        723
3.0        525
45.0         1
42.0         1
6.0          1
237.0        1
Name: unitcnt, dtype: int64

In [ ]:
# # keeping only properties with 1 unit

# df = df[df['unitcnt'] == 1]
# df.info()

## 2 . Create a function that will drop rows or columns based on the percent of values that are missing : 
```handle_missing_values(df, prop_required_column, prop_required_row)```.


    -The input:
        A dataframe
        A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
        A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
    -The output:
        The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
    -hint:
        Look up the dropna documentation.
        You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.